html {
  background-color: white;
  text-align: center;
}

section {
  float: left;
  width: 45%;
  margin-left: 3%;
  margin-right: 2%;
  font-family: Roboto, serif;
  font-size: 1.5em;
  text-align: justify;
}

section table {
  margin: auto;
}

section table th {
  padding-right: 10px;
  font-weight: normal;
}

section table td {
  font-size: 16px;
  padding-left: 20px;
  padding-right: 20px;
  border: solid black 1px;
  border-radius: 5px;
  background-color: rgba(0, 0, 0, 0.04);
  cursor: text;
  -webkit-transition: background-color 0.5s ease;
  -moz-transition: background-color 0.5s ease;
  transition: background-color 0.5s ease;
}

section table td:hover {
  background-color: rgba(0, 0, 0, 0);
}

div {
  float: left;
  width: 45%;
  margin-left: 2%;
  margin-right: 3%;
  margin-top: 3%;
}

canvas {
  margin: auto;
}

button {
  width: 120px;
  margin-bottom: 30px;
  height: 45px;
  border-radius: 5px;
  background: #8497FF;
  border: none;
  color: white;
  font-size: 14px;
  font-weight: 100;
  cursor: pointer;
  transition: box-shadow .4s ease;
}
